# extends 'layout.html'
<!DOCTYPE html>
<html>
# include "macros.html" ignore missing

<head>
	<title>
		# block title
		${_("Trade")}
		${ super() }
		# endblock title
	</title>
	# block head
	${ super() }
	# endblock head
</head>

<body>
	# block content
	<h2>Trades</h2>
	<fieldset>
		<legend>${_("Trade list")}</legend>
		<table class="listing">
			<thead>
				<tr>
					<th>${_("exchange")}</th>
					<th>${_("symbol")}</th>
					<th>${_("quantity_")}</th>
				</tr>
			</thead>
			<tbody>
				# if not trades:
				<tr>
					<td colspan="9">${_("No trades data.")}</td>
				</tr>
				# endif
				# for exchange, symbol ,quantity_ in trades
				<tr>
					<td>${exchange}</td>
					<td>${symbol}</td>
					<td>${quantity_}</td>
				</tr>
				# endfor
			</tbody>
		</table>
	</fieldset>
	# endblock content
</body>

</html>