# extends 'layout.html'
<!DOCTYPE html>
<html>
# include "macros.html" ignore missing

<head>
	<title>
		# block title
		${_("Trade")}
		${ super() }
		# endblock title
	</title>
	# block head
	${ super() }
	# endblock head
</head>

<body>
	# block content
	<h2>Trades</h2>
	<fieldset>
		<legend>${_("Trade list")}</legend>
		<table class="wiki">
				<tr>
          <th>${_("Date")}</th>
					<th>${_("Portfolio")}</th>
					<th>${_("Exchange")}</th>
					<th>${_("Symbol")}</th>
					<th>${_("Name")}</th>
					<th>${_("Quantity")}</th>
          <th>${_("Execution price")}</th>
          <th>${_("Book value")}</th>
				</tr>
				# if not trades:
				<tr>
					<td colspan="4">${_("No trades data.")}</td>
				</tr>
				# endif
				# for date, portfolio, exchange, symbol, name, quantity, executionprice, bookvalue in trades
				<tr>
          <td>${date}</td>
					<td>${portfolio}</td>
					<td>${exchange}</td>
					<td>${symbol}</td>
					<td>${name}</td>
					<td>${quantity}</td>
          <td>${executionprice}</td>
          <td>${bookvalue}</td>
				</tr>
				# endfor
		</table>
	</fieldset>
	# endblock content
</body>

</html>