# extends 'layout.html'
<!DOCTYPE html>
<html>
# include "macros.html" ignore missing

<head>
	<title>
		# block title
		${_("Download")}
		${ super() }
		# endblock title
	</title>
	# block head
	${ super() }
	# endblock head
</head>

<body>
	# block content
	<h2>Downloads</h2>
	# if 'DOWNLOAD_ADD' in perm:
	<form class="addnew" id="adddownload" method="post" enctype="multipart/form-data">
		${jmacros.form_token_input()}
		<fieldset>
			<legend>Add Download:</legend>
			<div class="field">
				<label>File:
					<input type="file" name="file" required="required" /></label>
			</div><br />
			<div class="field">
				<label for="description">
					Description:<br />
					<input type="text" name="description" value="" required="required" size="50" /></label>
			</div>
		</fieldset>
		<div class="buttons">
			<input type="submit" name="submit" value="Add" />
		</div>
	</form>
	# endif
	<table class="wiki" id="downloadlist">
			<tr>
				<th class="header">File</th>
				<th class="header">Description</th>
			</tr>
			# if not downloads:
			<tr>
				<td colspan="2">${_("No download data.")}</td>
			</tr>
			# endif
			# for id, file, description in downloads
			<tr>
				<td class="file">
					<a href="/downloads?sel=${id}">${file}</a>
				</td>
				<td class="description">
					${description}
				</td>
			</tr>
			# endfor
	</table>
	<p class="help">
	</p>
	# endblock content
</body>

</html>