# extends 'layout.html'
<!DOCTYPE html>
<html>

<head>
	<title>
		# block title
		${_("Line chart")}
		${ super() }
		# endblock title
	</title>
	# block head
	${ super() }
	# endblock head
</head>

<body>
	# block content
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.highlighter.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/plugins/jqplot.cursor.min.js"></script>
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.9/jquery.jqplot.min.css" />
	<script type="text/javascript">
		var prices_ = [
			['2021-03-09', 'AT', 'ANDR', 39.075],
			['2021-03-08', 'AT', 'ANDR', 39.425],
			['2021-03-05', 'AT', 'ANDR', 38.625],
			['2021-03-04', 'AT', 'ANDR', 39.445],
			['2021-03-03', 'AT', 'ANDR', 40.305],
			['2021-03-02', 'AT', 'ANDR', 40.455],
			['2021-03-01', 'AT', 'ANDR', 40.295],
			['2021-02-26', 'AT', 'ANDR', 39.845],
			['2021-02-25', 'AT', 'ANDR', 40.745],
			['2021-02-24', 'AT', 'ANDR', 41.005],
			['2021-02-23', 'AT', 'ANDR', 40.705],
			['2021-02-22', 'AT', 'ANDR', 40.845],
			['2021-02-19', 'AT', 'ANDR', 40.605],
			['2021-02-18', 'AT', 'ANDR', 39.965],
			['2021-02-17', 'AT', 'ANDR', 40.875],
			['2021-02-16', 'AT', 'ANDR', 40.925],
			['2021-02-15', 'AT', 'ANDR', 40.205],
			['2021-02-12', 'AT', 'ANDR', 40.545],
			['2021-02-11', 'AT', 'ANDR', 40.325],
			['2021-02-10', 'AT', 'ANDR', 40.585],
			['2021-02-09', 'AT', 'ANDR', 40.475],
			['2021-02-08', 'AT', 'ANDR', 40.985],
			['2021-02-05', 'AT', 'ANDR', 40.605],
			['2021-02-04', 'AT', 'ANDR', 40.465],
			['2021-02-03', 'AT', 'ANDR', 39.415],
			['2021-02-02', 'AT', 'ANDR', 39.325],
			['2021-02-01', 'AT', 'ANDR', 39.605],
			['2021-01-29', 'AT', 'ANDR', 39.245],
			['2021-01-28', 'AT', 'ANDR', 39.305],
			['2021-01-27', 'AT', 'ANDR', 39.315],
			['2021-01-26', 'AT', 'ANDR', 39.415],
			['2021-01-25', 'AT', 'ANDR', 39.675],
			['2021-01-22', 'AT', 'ANDR', 41.205],
			['2021-01-21', 'AT', 'ANDR', 40.965],
			['2021-01-20', 'AT', 'ANDR', 40.385],
			['2021-01-19', 'AT', 'ANDR', 39.245],
			['2021-01-18', 'AT', 'ANDR', 39.445],
			['2021-01-15', 'AT', 'ANDR', 38.995],
			['2021-01-14', 'AT', 'ANDR', 39.915],
			['2021-01-13', 'AT', 'ANDR', 39.665],
			['2021-01-12', 'AT', 'ANDR', 39.365],
			['2021-01-11', 'AT', 'ANDR', 38.955],
			['2021-01-08', 'AT', 'ANDR', 38.655],
			['2021-01-07', 'AT', 'ANDR', 38.495],
			['2021-01-05', 'AT', 'ANDR', 36.785],
			['2021-01-04', 'AT', 'ANDR', 37.155],
			['2020-12-30', 'AT', 'ANDR', 37.375],
			['2020-12-29', 'AT', 'ANDR', 37.245],
			['2020-12-28', 'AT', 'ANDR', 36.725],
			['2020-12-23', 'AT', 'ANDR', 36.665],
			['2020-12-22', 'AT', 'ANDR', 36.785],
			['2020-12-21', 'AT', 'ANDR', 36.175],
			['2020-12-18', 'AT', 'ANDR', 36.755],
			['2020-12-17', 'AT', 'ANDR', 36.825],
			['2020-12-16', 'AT', 'ANDR', 37.065],
			['2020-12-15', 'AT', 'ANDR', 36.945],
			['2020-12-14', 'AT', 'ANDR', 36.675],
			['2020-12-11', 'AT', 'ANDR', 36.375],
			['2020-12-10', 'AT', 'ANDR', 36.515],
			['2020-12-09', 'AT', 'ANDR', 36.405],
			['2020-12-08', 'AT', 'ANDR', 36.395],
			['2020-12-07', 'AT', 'ANDR', 36.125],
			['2020-12-04', 'AT', 'ANDR', 36.415],
			['2020-12-03', 'AT', 'ANDR', 36.695],
			['2020-12-02', 'AT', 'ANDR', 37.005],
			['2020-12-01', 'AT', 'ANDR', 36.755],
			['2020-11-30', 'AT', 'ANDR', 35.155],
			['2020-11-27', 'AT', 'ANDR', 35.305],
			['2020-11-26', 'AT', 'ANDR', 34.445],
			['2020-11-25', 'AT', 'ANDR', 34.285],
			['2020-11-24', 'AT', 'ANDR', 33.545],
			['2020-11-23', 'AT', 'ANDR', 33.725],
			['2020-11-20', 'AT', 'ANDR', 34.105],
			['2020-11-19', 'AT', 'ANDR', 33.755],
			['2020-11-18', 'AT', 'ANDR', 34.495],
			['2020-11-17', 'AT', 'ANDR', 34.495],
			['2020-11-16', 'AT', 'ANDR', 34.725],
			['2020-11-13', 'AT', 'ANDR', 33.725],
			['2020-11-12', 'AT', 'ANDR', 33.965],
			['2020-11-11', 'AT', 'ANDR', 33.915],
			['2020-11-10', 'AT', 'ANDR', 33.695],
			['2020-11-09', 'AT', 'ANDR', 32.965],
			['2020-11-06', 'AT', 'ANDR', 30.165],
			['2020-11-05', 'AT', 'ANDR', 31.485],
			['2020-11-04', 'AT', 'ANDR', 31.315],
			['2021-03-09', 'AT', 'ATSV', 25.98],
			['2021-03-08', 'AT', 'ATSV', 25.55],
			['2021-03-05', 'AT', 'ATSV', 25.57],
			['2021-03-04', 'AT', 'ATSV', 25.88],
			['2021-03-03', 'AT', 'ATSV', 25.98],
			['2021-03-02', 'AT', 'ATSV', 26],
			['2021-03-01', 'AT', 'ATSV', 25.62],
			['2021-02-26', 'AT', 'ATSV', 24.52],
			['2021-02-25', 'AT', 'ATSV', 25.05],
			['2021-02-24', 'AT', 'ATSV', 24.88],
			['2021-02-23', 'AT', 'ATSV', 25.93],
			['2021-02-22', 'AT', 'ATSV', 24.52],
			['2021-02-19', 'AT', 'ATSV', 24.68],
			['2021-02-18', 'AT', 'ATSV', 24.5],
			['2021-02-17', 'AT', 'ATSV', 26.07],
			['2021-02-16', 'AT', 'ATSV', 25.3],
			['2021-02-15', 'AT', 'ATSV', 25.65],
			['2021-02-12', 'AT', 'ATSV', 25.38],
			['2021-02-11', 'AT', 'ATSV', 25.8],
			['2021-02-10', 'AT', 'ATSV', 25.95],
			['2021-02-09', 'AT', 'ATSV', 26.15],
			['2021-02-08', 'AT', 'ATSV', 26.25],
			['2021-02-05', 'AT', 'ATSV', 26.32],
			['2021-02-04', 'AT', 'ATSV', 26.35],
			['2021-02-03', 'AT', 'ATSV', 26.07],
			['2021-02-02', 'AT', 'ATSV', 26.07],
			['2021-02-01', 'AT', 'ATSV', 26.43],
			['2021-01-29', 'AT', 'ATSV', 26.35],
			['2021-01-28', 'AT', 'ATSV', 28.02],
			['2021-01-27', 'AT', 'ATSV', 26.98],
			['2021-01-26', 'AT', 'ATSV', 28.35],
			['2021-01-25', 'AT', 'ATSV', 28.38],
			['2021-01-22', 'AT', 'ATSV', 28.15],
			['2021-01-21', 'AT', 'ATSV', 27.55],
			['2021-01-20', 'AT', 'ATSV', 28.23],
			['2021-01-19', 'AT', 'ATSV', 27.27],
			['2021-01-18', 'AT', 'ATSV', 27.07],
			['2021-01-15', 'AT', 'ATSV', 26.88],
			['2021-01-14', 'AT', 'ATSV', 27.68],
			['2021-01-13', 'AT', 'ATSV', 27.52],
			['2021-01-12', 'AT', 'ATSV', 28.05],
			['2021-01-11', 'AT', 'ATSV', 28.18],
			['2021-01-08', 'AT', 'ATSV', 27.27],
			['2021-01-07', 'AT', 'ATSV', 28.02],
			['2021-01-05', 'AT', 'ATSV', 27.88],
			['2021-01-04', 'AT', 'ATSV', 26.77],
			['2020-12-30', 'AT', 'ATSV', 26.2],
			['2020-12-29', 'AT', 'ATSV', 25.55],
			['2020-12-28', 'AT', 'ATSV', 24.3],
			['2020-12-23', 'AT', 'ATSV', 23.68],
			['2020-12-22', 'AT', 'ATSV', 23.73],
			['2020-12-21', 'AT', 'ATSV', 22.73],
			['2020-12-18', 'AT', 'ATSV', 23.35],
			['2020-12-17', 'AT', 'ATSV', 21.88],
			['2020-12-16', 'AT', 'ATSV', 21.9],
			['2020-12-15', 'AT', 'ATSV', 21.18],
			['2020-12-14', 'AT', 'ATSV', 21.18],
			['2020-12-11', 'AT', 'ATSV', 20.32],
			['2020-12-10', 'AT', 'ATSV', 20.32],
			['2020-12-09', 'AT', 'ATSV', 20.25],
			['2020-12-08', 'AT', 'ATSV', 21.52],
			['2020-12-07', 'AT', 'ATSV', 21.05],
			['2020-12-04', 'AT', 'ATSV', 20.02],
			['2020-12-03', 'AT', 'ATSV', 20.8],
			['2020-12-02', 'AT', 'ATSV', 19.82],
			['2020-12-01', 'AT', 'ATSV', 20.62],
			['2020-11-30', 'AT', 'ATSV', 19.98],
			['2020-11-27', 'AT', 'ATSV', 20.85],
			['2020-11-26', 'AT', 'ATSV', 20.23],
			['2020-11-25', 'AT', 'ATSV', 20.23],
			['2020-11-24', 'AT', 'ATSV', 19.56],
			['2020-11-23', 'AT', 'ATSV', 19.56],
			['2020-11-20', 'AT', 'ATSV', 19.62],
			['2020-11-19', 'AT', 'ATSV', 19.58],
			['2020-11-18', 'AT', 'ATSV', 18.81],
			['2020-11-17', 'AT', 'ATSV', 18.55],
			['2020-11-16', 'AT', 'ATSV', 18.76],
			['2020-11-13', 'AT', 'ATSV', 18.43],
			['2020-11-12', 'AT', 'ATSV', 18.37],
			['2020-11-11', 'AT', 'ATSV', 18.7],
			['2020-11-10', 'AT', 'ATSV', 18.98],
			['2020-11-09', 'AT', 'ATSV', 19.4],
			['2020-11-06', 'AT', 'ATSV', 18.29],
			['2020-11-05', 'AT', 'ATSV', 18.11],
			['2020-11-04', 'AT', 'ATSV', 18.07],
			['2020-11-03', 'AT', 'ATSV', 17.95],
			['2020-11-02', 'AT', 'ATSV', 16.07],
			['2020-10-30', 'AT', 'ATSV', 15.15],
			['2020-10-29', 'AT', 'ATSV', 15.07],
			['2020-10-28', 'AT', 'ATSV', 15.1],
			['2020-10-27', 'AT', 'ATSV', 15.99],
			['2020-10-23', 'AT', 'ATSV', 16.28],
			['2020-10-22', 'AT', 'ATSV', 16.32],
			['2020-10-21', 'AT', 'ATSV', 16.65],
			['2020-10-20', 'AT', 'ATSV', 16.9],
			['2020-10-19', 'AT', 'ATSV', 16.8],
			['2020-10-16', 'AT', 'ATSV', 17.13],
			['2020-10-15', 'AT', 'ATSV', 18.06],
			['2020-10-14', 'AT', 'ATSV', 17.69],
			['2020-10-13', 'AT', 'ATSV', 17.26],
			['2020-10-12', 'AT', 'ATSV', 18.03],
			['2020-10-09', 'AT', 'ATSV', 16.48],
			['2020-10-08', 'AT', 'ATSV', 17.37],
			['2020-10-07', 'AT', 'ATSV', 16.82],
			['2020-10-06', 'AT', 'ATSV', 17.03],
			['2020-10-05', 'AT', 'ATSV', 15.75],
			['2020-10-02', 'AT', 'ATSV', 16.17],
			['2020-10-01', 'AT', 'ATSV', 16.01],
			['2020-09-30', 'AT', 'ATSV', 16.15],
			['2020-09-29', 'AT', 'ATSV', 16.57],
			['2020-09-28', 'AT', 'ATSV', 15.42],
			['2020-09-25', 'AT', 'ATSV', 16],
			['2020-09-24', 'AT', 'ATSV', 15.62],
			['2020-09-23', 'AT', 'ATSV', 15.96],
			['2020-09-22', 'AT', 'ATSV', 15.21],
			['2020-09-21', 'AT', 'ATSV', 15.5],
			['2020-09-18', 'AT', 'ATSV', 16.33],
			['2020-09-17', 'AT', 'ATSV', 16.54],
			['2020-09-16', 'AT', 'ATSV', 16.07],
			['2020-09-15', 'AT', 'ATSV', 15.88],
			['2020-09-14', 'AT', 'ATSV', 16.11],
			['2020-09-11', 'AT', 'ATSV', 16.08],
			['2020-09-10', 'AT', 'ATSV', 15.99],
			['2020-09-09', 'AT', 'ATSV', 16.35],
			['2020-09-08', 'AT', 'ATSV', 15.98],
			['2020-09-07', 'AT', 'ATSV', 16.22],
			['2020-09-04', 'AT', 'ATSV', 15.86],
			['2020-09-03', 'AT', 'ATSV', 16.03],
			['2020-09-02', 'AT', 'ATSV', 16.41],
			['2020-09-01', 'AT', 'ATSV', 16.26],
			['2020-08-31', 'AT', 'ATSV', 16.32],
			['2020-08-28', 'AT', 'ATSV', 16.22],
			['2020-08-27', 'AT', 'ATSV', 16.23],
			['2020-08-26', 'AT', 'ATSV', 16.94],
			['2020-08-25', 'AT', 'ATSV', 17.12],
			['2020-08-24', 'AT', 'ATSV', 16.89],
			['2020-08-21', 'AT', 'ATSV', 17.09],
			['2020-08-20', 'AT', 'ATSV', 16.49],
			['2020-08-19', 'AT', 'ATSV', 17.11],
			['2020-08-18', 'AT', 'ATSV', 16.6],
			['2020-08-17', 'AT', 'ATSV', 16.99],
			['2020-08-14', 'AT', 'ATSV', 16.88],
			['2020-08-13', 'AT', 'ATSV', 16.7],
			['2020-08-12', 'AT', 'ATSV', 17.33],
			['2020-08-11', 'AT', 'ATSV', 17.15],
			['2020-08-10', 'AT', 'ATSV', 16.7],
			['2020-08-07', 'AT', 'ATSV', 16.92],
			['2020-08-06', 'AT', 'ATSV', 17.07],
			['2020-08-05', 'AT', 'ATSV', 17.05],
			['2020-08-04', 'AT', 'ATSV', 15.63],
			['2020-08-03', 'AT', 'ATSV', 15.92],
			['2020-07-31', 'AT', 'ATSV', 16.05],
			['2020-07-30', 'AT', 'ATSV', 16.06],
			['2020-07-29', 'AT', 'ATSV', 16.08],
			['2020-07-28', 'AT', 'ATSV', 16.48],
			['2020-07-27', 'AT', 'ATSV', 16.66],
			['2020-07-24', 'AT', 'ATSV', 16.36],
			['2020-07-23', 'AT', 'ATSV', 17.24],
			['2020-07-22', 'AT', 'ATSV', 17.37],
			['2020-07-21', 'AT', 'ATSV', 18.4],
			['2020-07-20', 'AT', 'ATSV', 16.75],
			['2020-07-17', 'AT', 'ATSV', 16.22],
			['2020-07-16', 'AT', 'ATSV', 16.15],
			['2020-07-15', 'AT', 'ATSV', 16.15],
			['2020-07-13', 'AT', 'ATSV', 15.59],
			['2020-07-10', 'AT', 'ATSV', 15.74],
			['2020-07-09', 'AT', 'ATSV', 15.66],
			['2020-07-08', 'AT', 'ATSV', 15.7],
			['2020-07-07', 'AT', 'ATSV', 16.04],
			['2020-07-06', 'AT', 'ATSV', 16.14],
			['2020-07-03', 'AT', 'ATSV', 15.68],
			['2020-07-01', 'AT', 'ATSV', 15.77],
			['2020-06-30', 'AT', 'ATSV', 16],
			['2020-06-29', 'AT', 'ATSV', 15.53],
			['2020-06-26', 'AT', 'ATSV', 15.91],
			['2020-06-25', 'AT', 'ATSV', 15.91],
			['2020-06-24', 'AT', 'ATSV', 15.93],
			['2020-06-23', 'AT', 'ATSV', 16.18],
			['2020-06-22', 'AT', 'ATSV', 16.17],
			['2020-06-18', 'AT', 'ATSV', 17.02],
			['2020-06-17', 'AT', 'ATSV', 16.88],
			['2020-06-16', 'AT', 'ATSV', 17.08],
			['2020-06-15', 'AT', 'ATSV', 16.12],
			['2020-06-12', 'AT', 'ATSV', 16],
			['2020-06-11', 'AT', 'ATSV', 15.6],
			['2020-06-10', 'AT', 'ATSV', 16.3],
			['2020-06-09', 'AT', 'ATSV', 16.82],
			['2020-06-08', 'AT', 'ATSV', 17.04],
			['2020-06-04', 'AT', 'ATSV', 17],
			['2020-06-03', 'AT', 'ATSV', 17.08],
			['2020-05-29', 'AT', 'ATSV', 16.4],
			['2020-05-28', 'AT', 'ATSV', 16.36],
			['2020-05-27', 'AT', 'ATSV', 16.14],
			['2020-05-26', 'AT', 'ATSV', 16.52],
			['2020-05-25', 'AT', 'ATSV', 15.86],
			['2020-05-22', 'AT', 'ATSV', 15.48],
			['2020-05-19', 'AT', 'ATSV', 15.9],
			['2020-05-18', 'AT', 'ATSV', 15.96],
		];

	</script>
	<table>
		<tr>
			<td>
				<div class="tooltip">Shape parameter: </div>
			</td>
			<td><input id="k" type="number" value="1.7" min="0" max="10" step="0.05" onchange="refresh();" /></td>
		</tr>
		<tr>
			<td>
				<div class="tooltip">Scale parameter: </div>
			</td>
			<td><input id="lambda" type="number" value="6" min="0" max="20" step="0.1" onchange="refresh();" /></td>
		</tr>
	</table>
	<div id="weights_graph" style="width: 500px; height: 200px;"></div>
	<div id="charts" style="padding: 40px"></div>

	<script type="text/javascript">
		var nrofperiods = 32;
		var prices = { plot: '' };

		// Refreshes all charts on the page
		function refresh() {
			weights = [];
			setWeights();
			$('#weights_graph').empty();
			$.jqplot('weights_graph', [weights], { series: [{ lineWidth: 1, color: '#3af', showMarker: false }], axes: { xaxis: { padMin: 0, tickOptions: { formatString: '%.1f' } }, yaxis: { padMin: 0, tickOptions: { formatString: '%.4f' } } }, highlighter: { show: true } });
		}

		// Weighting function
		function setWeights() {
			var k = document.getElementById("k").value;
			var lambda = document.getElementById("lambda").value;
			for (var x = 0.1; x < nrofperiods; x++) {
				// w = Math.pow(x/lambda, k-1)*Math.exp(-x/lambda);  // gamma
				w = Math.pow(x / lambda, k - 1) * Math.exp(-Math.pow(x / lambda, k));  // weibull
				weights.push([x, w]);
			}
			// Normalise the weights
			var sumweight = 0;
			for (x in weights) sumweight += weights[x][1];
			for (x in weights) weights[x][1] /= sumweight;
		}

		$(document).ready(function () {
			// for performance reasons the sorting has been switched off: assume the data is already sorted
			//  prices_.sort((a, b) => {return (a[2] > b[2]) ? 1 : -1});

			let r = 0;  // row index
			let prev = '';
			let j = -1;
			let lines = [];
			let up = 0, down = 0;

			while (prices_[r] !== undefined) {
				if (prev !== prices_[r][2]) {  // a new symbol requires the lines array to be recreated
					j++;
					lines[j] = [];
					prev = prices_[r][2];
				}
				up = (typeof prices_[r + 1] !== 'undefined') ? Math.max(prices_[r][3] - prices_[r + 1][3], 0) : 0;
				down = (typeof prices_[r + 1] !== 'undefined') ? Math.max(prices_[r + 1][3] - prices_[r][3], 0) : 0;
				// data structure: date, close, symbol, exchange, up, down
				lines[j].push([prices_[r][0], prices_[r][3], prices_[r][2], prices_[r][1], up, down]);
				r++;
			}

			prices_ = undefined;
			refresh();

			for (var i in lines)
				for (var m = 0; m < lines[i].length - nrofperiods; m++) {
					var mUp = 0, mDown = 0;
					for (var w in weights) {
						mUp += weights[w][1] * lines[i][m + parseInt(w)][4];
						mDown += weights[w][1] * lines[i][m + parseInt(w)][5];
					}
					lines[i][m].push(mUp / (mUp + mDown));
				}

			let fragment = document.createDocumentFragment();
			for (var i in lines) {
				var element = document.createElement('div');
				element.id = 'chart' + i.toString();
				element.style.cssText = 'margin-bottom: 40px';
				fragment.appendChild(element);
			}

			document.getElementById("charts").appendChild(fragment);

			for (var i in lines) {
				prices.plot = $.jqplot('chart' + i.toString(), [lines[i]], { title: lines[i][0][3] + " <img src='chrome/site/" + lines[i][0][3].toLowerCase() + ".png'> " + lines[i][0][2], highlighter: { show: true }, cursor: { show: true, zoom: true }, axes: { xaxis: { renderer: $.jqplot.DateAxisRenderer, tickOptions: { formatString: '%Y-%m-%d' } } }, series: [{ lineWidth: 1, color: '#ccc', markerOptions: { show: false } }] });
			}
		})
	</script>
	# endblock content
</body>

</html>