# extends 'layout.html'
<!DOCTYPE html>
<html>

<head>
<title>
# block title
${_("Line chart")}
${ super() }
# endblock title
</title>
# block head
${ super() }
# endblock head
</head>

<body>
# block content
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<script type="text/javascript" src="chrome/site/prefix.js"></script>
<script type="text/javascript" src="chrome/site/components.js"></script>
<script type="text/javascript" src="chrome/site/prices.js"></script>
<script type="text/javascript" src="chrome/site/suffix.js"></script>

<table>
<tr><td><div title="Nominal amount in local currency for a buy trade">Position size: </div></td><td><input id="position_size" type="number" value="2000" min="0" step="100" onchange="refresh();" /></td></tr>
<tr><td><div title="Minimum value of mRS for the graph to be displayed">mRS threshold: </div></td><td><input id="mRS_threshold" type="number" value="0.35" min="0" max="1" step="0.05" onchange="refresh();" /></td></tr>
<tr><td><div title="Minimum current price for the graph to be displayed">Price threshold: </div></td><td><input id="p_threshold" type="number" value="30" min="0" step="1" onchange="refresh();" /></td></tr>
<tr><td><div title="Parameter for the shape of the weighting function">Shape parameter: </div></td><td><input id="k" type="number" value="1.7" min="0" max="10" step="0.05" onchange="refresh();" /></td></tr>
<tr><td><div title="Parameter for the scale of the weighting function">Scale parameter: </div></td><td><input id="lambda" type="number" value="7" min="0" max="20" step="0.1" onchange="refresh();" /></td></tr>
</table>
<div id="weights_graph" style="width: 600px; height: 400px; margin: 5px;" nonce="r@nd0m"></div>
<div id="prices_graph" style="margin: 40px" nonce="r@nd0m"></div>

<script type="text/javascript" nonce="r@nd0m">
var nrofperiods = 24;
var prices = {plot: ''};
let weights = [], lines = [], pLines = [], mLines = [], sLines = [], iLines = [];
let weightsX = [], weightsY = [];
let pLinesX = [], mLinesX = [], sLinesX = [], pLinesY = [], mLinesY = [], sLinesY = [];

// Holding data
var holdings = {};
# for symbol, date, quantity in holdings   
   holdings['${symbol}'] = ['${date}', '${quantity}', 'trading'];
# endfor

// Refreshes all charts on the page
function refresh() {
	setWeights();
	setIndicators();

	// Render weights graph
	$('#weights_graph').empty();
	CHART = document.getElementById('weights_graph');
	var wLine = {
		x: weightsX,
		y: weightsY,
		type: 'scatter', mode: 'lines', 
		line: {shape: 'spline', smoothing: 0.1}
	};
	var data = [wLine];
	var layout = {autosize: true};
	var config = {displayModeBar: false};
	Plotly.newPlot(CHART, data, layout, config);

	// Render prices graphs
	$('#prices_graph').empty();
	var i = 0;
	while (lines[i] !== undefined) {
		// only show graphs where the mRS is below the threshold and the price is above the threshold, but always show where there is a holding
		if ((mLines[i][0][1] < document.getElementById("mRS_threshold").value && lines[i][0][3] > document.getElementById("p_threshold").value) || holdings[lines[i][0][2]]) {
			var element = document.createElement('div');
			element.id = 'chart' + i.toString();
			element.style.cssText = 'width: 100%; align-content: center; position: relative;';
			document.getElementById("prices_graph").appendChild(element);
			var element = document.createElement('div');
			element.id = 'chart' + i.toString() + 'title';
			element.style.cssText = 'width: 100%; text-align: center;';
			element.innerHTML = lines[i][0][1] + " <img src='chrome/site/" + lines[i][0][1].toLowerCase() + ".png'> " + lines[i][0][2];
			document.getElementById('chart' + i).appendChild(element);
			var element = document.createElement('div');
			element.id = 'chart' + i.toString() + 'plotly';
			document.getElementById('chart' + i).appendChild(element);

			let holding = holdings[lines[i][0][2]];
			let holdingDate = holding && holding[0];
			
			/* when there is a holding, place horizontal bar at top of graph */
			horizontalbar = holdingDate ? {rectangle: {xminOffset: "0px", xmaxOffset: "0px", yminOffset: "255px", ymaxOffset: "0px", color: "rgba(99, 99, 99, 0.1)"}} : null;

			horizontalbar = {
				type: 'rect',
				xref: 'paper',
				yref: 'y2',
				x0: 0,
				y0: holdingDate ? 0.85 : 0,
				x1: 1,
				y1: holdingDate ? 1 : 0.15,
				fillcolor: 'rgba(99, 99, 99, 0.1)',
				line: {width: 0},
				opacity: 0.7,
			};

			holdingline = holdingDate ? {
				type: 'line',
				x0: holdingDate,
				y0: 0,
				x1: holdingDate,
				yref: 'paper',
				y1: 1,
				line: {color: 'grey', width: 0.5, dash: 'solid'}
			} : null;

			CHART1 = document.getElementById('chart' + i.toString() + 'plotly');
			var pLine = {
				name: 'price',
				x: pLinesX[i],
				y: pLinesY[i],
				type: 'scatter', mode: 'lines',
				hovertemplate: '%{x|%Y-%m-%d}, %{y}', 
				showlegend: false,
				line: {shape: 'spline', smoothing: 0.1, color: '#ccc', width: 0.5}
			};
			var mLine = {
				name: 'mRS',
				x: mLinesX[i],
				y: mLinesY[i],
				type: 'scatter', mode: 'lines', 
				yaxis: 'y2',
				showlegend: false,
				hovertemplate: '%{x|%Y-%m-%d}, %{y}', 
				line: {shape: 'spline', smoothing: 0.1, color: 'blue', width: 0.8}
			};
			var sLine = {
				name: 'mS',
				x: sLinesX[i],
				y: sLinesY[i],
				type: 'scatter', mode: 'lines', 
				yaxis: 'y2',
				showlegend: false,
				hovertemplate: '%{x|%Y-%m-%d}, %{y}',
				line: {shape: 'spline', smoothing: 0.1, color: 'lightskyblue', width: 0.8}
			};
			var data = [pLine, mLine, sLine];
			var layout = { 
				autosize: true,
				//width: 1000, 
				//height: 500,
				margin: {l: 50, r: 50, b: 50, t: 0, pad: 0},
				xaxis: {tickformat: '%Y-%m-%d'},
				yaxis2: {overlaying: 'y', side: 'right'},
				hovermode: "closest",
				xaxis = list(showgrid = FALSE),
				yaxis = list(showgrid = FALSE),
				shapes: [holdingline, horizontalbar]
			};
			var config = {displayModeBar: false};
			Plotly.newPlot(CHART1, data, layout, config);
			// Text annotation for symbol and price
			var arrow = (lines[i][0][3] < lines[i][1][3]) ? ' &#9660; ' : ' &#9650; ';
			var change = Number.parseFloat(100*(lines[i][0][3] - lines[i][1][3])/lines[i][1][3]).toFixed(2) + '%';
			var canvas_selector = $("#chart" + i + 'plotly');
			var priceAnnotation = '<div style="position: absolute; display: inline-block; left: 70px; top: 25px;">';
			priceAnnotation += "<p><b>Name</b>: " + components[lines[i][0][2]][0] + "</p>";
			priceAnnotation += "<p><b>Sector</b>: " + components[lines[i][0][2]][2] + "</p>";
			priceAnnotation += "<p><b>Price</b>: " + (lines[i][0][3] + arrow + change) + "</p>";
			priceAnnotation += "<p><b>mRS</b>: " + Number.parseFloat(mLines[i][0][1]).toFixed(2) + "</p>";
			priceAnnotation += "<p><b>Quantity</b>: " + (holdingDate ? holding[1] : Number.parseFloat(document.getElementById("position_size").value / lines[i][0][3]).toFixed(0)) + "</p></div>";
			$(priceAnnotation).insertAfter(canvas_selector);
		}
		i++;
	}
}

// Calculate weights
function setWeights() {
	weights = [];
	weightsX = [];
	weightsY = [];
	var k = document.getElementById("k").value;
	var lambda = document.getElementById("lambda").value;
	for (var x = 0.1; x < nrofperiods; x++) {
		// w = Math.pow(x/lambda, k-1)*Math.exp(-x/lambda);  // gamma
		w = Math.pow(x/lambda, k-1)*Math.exp(-Math.pow(x/lambda, k));  // weibull
		weights.push([x, w]);
	}
	// Normalise the weights
	var sumweight = 0;
	for (x in weights) sumweight += weights[x][1];
	for (x in weights) weights[x][1] /= sumweight;
	for (x in weights) {
		weightsX.push(weights[x][0]);
		weightsY.push(weights[x][1]);
	}
}

// Calculate indicator values
function setIndicators() {
	for (var i in lines) {
		pLines[i] = [];
		mLines[i] = [];
		iLines[i] = [];
		sLines[i] = [];
		pLinesX[i] = [];
		pLinesY[i] = [];
		mLinesX[i] = [];
		mLinesY[i] = [];
		sLinesX[i] = [];
		sLinesY[i] = [];
		// Second order statistics: mRS, mI and mS; also pLines (prices) is generated
		for (var m = 0; m < lines[i].length-nrofperiods; m++) {
		var mUp = 0, mDown = 0, mLowIndex = 0, mHighIndex = 0, mS = 0;
		for (var w = 0; w < weights.length; w++) {
			mUp += weights[w][1] * lines[i][m+w][4];
			mDown += weights[w][1] * lines[i][m+w][5];
			mLowIndex += weights[w][1] * lines[i][m+w][6];
			mHighIndex += weights[w][1] * lines[i][m+w][7];
			mS += weights[w][1] * lines[i][m+w][8];
		}
		pLines[i].push([lines[i][m][0], lines[i][m][3]]);
		mLines[i].push([lines[i][m][0], mUp/(mUp + mDown)]);
		iLines[i].push([lines[i][m][0], mLowIndex/(mLowIndex + mHighIndex)]);
		sLines[i].push([lines[i][m][0], mS]);
		}
		for (x in pLines[i]) {
			pLinesX[i].push(pLines[i][x][0]);
			pLinesY[i].push(pLines[i][x][1]);
		}
		for (x in mLines[i]) {
			mLinesX[i].push(mLines[i][x][0]);
			mLinesY[i].push(mLines[i][x][1]);
		}
		for (x in sLines[i]) {
			sLinesX[i].push(sLines[i][x][0]);
			sLinesY[i].push(sLines[i][x][1]);
		}
	}
}

// Main function
$(document).ready(function() {
	// Sort prices array by exchange, symbol, then date in descending order
	prices_.sort((a, b) => (a[1].localeCompare(b[1]) || (a[2].localeCompare(b[2])) || (b[0].localeCompare(a[0]))));
	// First order statistics: up, down, lowIndex, highIndex, low, high
	let r = 0;  // row index for prices array
	while (prices_[r+nrofperiods] !== undefined) {
		var lowIndex = r, highIndex = r, low = prices_[r][3], high = prices_[r][3];
		for (var m = 0; m < nrofperiods; m++) {
			lowIndex = (prices_[r+m][3] < low) ? r+m : lowIndex;
			highIndex = (prices_[r+m][3] > high) ? r+m : highIndex;
			low = Math.min(low, prices_[r+m][3]);
			high = Math.max(high, prices_[r+m][3]);
		}
		// data structure: date [0], symbol [1], exchange [2], close [3], up [4], down [5], lowIndex [6], highIndex [7], stochast [8]
		prices_[r].push(Math.max(prices_[r][3]-prices_[r+1][3], 0), Math.max(prices_[r+1][3]-prices_[r][3], 0), lowIndex-r, highIndex-r, (prices_[r][3]-low)/(high-low));
		r++;
	}

	// Lines array splits prices array, such that every symbol has its own line
	let prev = '';  // last known symbol
	let j = -1;     // index for lines array
	for (r in prices_) {
		if (prev !== prices_[r][2]) {  // a new symbol requires a new lines array to be generated
			j++;
			lines[j] = [];
			prev = prices_[r][2];
		}
		lines[j].push(prices_[r]);
	}
	refresh();
})

$(document).tooltip();
</script>
# endblock content
</body>
</html>
